#firstimage{
    position: relative; /* Allows absolute positioning within this container */
    width: 100%;  
}
#firstBackground{
    width: 100%;
    height: auto;
}
#fisrtpageheading{
    position: absolute;
    top: 40%; /* Vertically centered */
    left: 50%; /* Horizontally centered */
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-shadow: 0 0 3px black; 
    text-shadow: 0 0 3px black;
    color: white;
    -webkit-text-stroke: 1px black
}
#start{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 55%; /* Adjust the vertical position */
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    color: white;
    border: solid;
    cursor: pointer;
    font-size: 150%;
    border-color: black;
}
